<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> <title>Hello, world!</title>
    <link rel="stylesheet" href="public/main.css">
  </head>
<body>
  <h1>Udacity Image Processing API</h1>
  <div class='pageNotFound'>
      The Page You Are Looking For Does Not Exist
  </div>
  <p><b>Home Page:</b> <i>http://localhost:5000</i></p>
  <p><b>Resize Images:</b> 
      <i>http://localhost:5000/resize?w=&lt;width here&gt;&h=&lt;height here&gt;</i>
  </p>
</body>
</html>
