html {
  display: table;
  width: 100%;
  height: 100%;
} 
body {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
}
.sized-image {
  margin-left: 4px;
  margin-bottom: 4px;
}
#image-container{
  margin:auto;
  align-content: center;
}
.param {
  color: red;
}
.image-info {
  margin-bottom: 2%;
}
.example {
  color: gray;
}
.noParams > h3{
  color: red;
}
.pageNotFound{
  font-size: 100px;
  text-align: center;
  font-weight: 300;
  color: blanchedalmond;
}